*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* render poppins if not rendering then sans-serif */
}

body{
  background-color: #c9d6ff;
  background: linear-gradient(to right,#e2e2e2,#c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;  /*cover the height of the screen */
}

.container{
 background-color: #fff;
 border-radius: 30px;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
 position: relative;
 overflow: hidden;
 width: 768px;
 max-width: 100%;
 min-height: 480px;
}

.container p{
 font-size: 14px;
 line-height: 20px;
 letter-spacing: 0.3px;
 margin: 20px 0;
}

.container span{
 font-size: 12px;
}

.container a{
  color:#333;
  font-size: 13px;
  text-decoration: none;  /* removes the underline */
  margin : 15px 0 10px;
}

.container button{
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase; /*text changes to uppercase event if typed in lower case */
  margin-top: 10px;
  cursor: pointer; /* texts changes to a hand when hovered over */
}

.container button.hidden{
  background-color: transparent;
  border-color: #fff;
}

.container form{
 background-color: #fff;
 display :flex;
 justify-content : center;
 flex-direction: column; /* everything is sided vertical */
 padding: 0 40px; /* top with bottom 0px and left with right 40px */
 height: 100%
}

.container input{
  background-color : #eee;
  border: none;
  margin:8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none; /* removes the outline when one clicks the field for input */
}

.form-container{
 position: absolute;
 top: 0;
 height: 100%;
 align-items: center;
 transition : all 0.6s ease-in-out; /* helps in sliding */
}

.sign-in{
  left: 0;
  width: 50%;
  z-index : 2; /* at the back of sign-up */
}

.container.active .sign-in{
  transform: translateX(100%); /* full size of sign in container slides to left */
}

.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index:  5;
  animation: move 0.6s;
}


@keyframes move {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}


.social-icons{
  margin: 20px 0;
}

.social-icons a{
  border : 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  margin: 0 3px;
  align-items: center;

  width: 40px;
  height: 40px;
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 150px 0 0 100px;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
 }

.container.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle{
 background-color: #512da8;
 height: 100%;
 background: linear-gradient(to right,#5c6bc0,#512da8);
 color: #fff;
 position: relative;
 left: -100%;
 height: 100%;
 width: 200%;
 transform: translateX(0);
 transition: all 0.6s ease-in-out;
}

.container.active .toggle{
  transform: translateX(50%);

}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left{
  transform: translateX(-200%)
}

.container.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right{
  transform: translateX(200%);
}



