{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nokoSocial - Responsive Social Media Website</title>
    <link rel="stylesheet" href="{% static 'styles2.css' %}">
    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.2.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <nav>
        <div class="container">
            <h2 class="logosocial">
                nokoSocial
            </h2>
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search for creators,inspirations,and projects">
            </div>
            <div class="create">
               <label class="btn btn-primary" for="create-post">Create</label>
               <div class="profile-photo">
                  <img src="{% static 'images/profile-1.jpg' %}">
               </div>
            </div>
        </div>

    </nav>

    <!------------------------MAIN-------------------------------->
    <main>
        <div class="container">
            <div class="left">
              <a class="profile">
                  <div class="profile-photo">
                      <img src="{% static 'images/profile-1.jpg' %}">
                  </div>
                  <div class="handle">
                      <h4>Diana Ayi</h4>
                      <p class="text-muted">
                          @dayi
                      </p>
                  </div>
              </a>
              <!---------------SIDEBAR---------------->
              <div class="sidebar">
                  <a  class="menu-item active">
                           <span><i class="fa-solid fa-house"></i></span> <h3>Home</h3>
                  </a>
                  <a  class="menu-item">
                      <span><i class="fa-brands fa-wpexplorer"></i></span> <h3>Explore</h3>
                  </a>


                  <a  class="menu-item" id="notifications">
                     <span><i class="fa-solid fa-bell"><small class="notification-count">9+</small></i></span> <h3>Notifications</h3>
                      <!------------Notifications Popup---------------->
                        <div class="notifications-popup">
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-2.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>Keke Benjamin</b>accepted your friend request
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                          </div>
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-3.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>John Doe</b>commented on your post
                                <small class="text-muted">1 hour AGO</small>
                            </div>
                          </div>
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-4.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>Michael Kross</b>commented on your post
                                <small class="text-muted">2 hours ago</small>
                            </div>
                          </div>
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-5.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>Abena Serwaa</b>commented on your post
                                <small class="text-muted">1 hour AGO</small>
                            </div>
                          </div>
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-6.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>Kofi Gabs</b>commented on your post
                                <small class="text-muted">1 hour AGO</small>
                            </div>
                          </div>
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-7.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>Ywa Manu</b>commented on your post
                                <small class="text-muted">1 hour AGO</small>
                            </div>
                          </div>
                        </div>
                  </a>

                  <a  class="menu-item">
                      <span><i class="fa-solid fa-message"></i></span> <h3>Messages</h3>
                  </a>

                  <a  class="menu-item" id="messages-notifications">
                      <span><i class="fa-solid fa-bookmark"><small class="notification-count">6</small></i></span> <h3>BookMarks</h3>
                  </a>

                  <a  class="menu-item">
                      <span><i class="fa-solid fa-chart-simple"></i></span> <h3>Analytics</h3>
                  </a>

                  <a class="menu-item">
                      <span><i class="fa-solid fa-palette"></i></span> <h3>Theme</h3>
                  </a>

                  <a class="menu-item active">
                      <span><i class="fa-solid fa-gear"></i></span> <h3>Settings</h3>
                  </a>
              </div>
              <!------------ END OF SIDEBAR-------------->
              <label for="create-post" class="btn btn-primary">Create Post</label>
            </div>
            <div class="middle">
                <!---============STORIES===============-->
                <div class="stories">
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-8.jpg' %}">
                        </div>
                        <p class="name">Your Story</p>
                    </div>
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-9.jpg' %}">
                        </div>
                        <p class="name">Lilla James</p>
                    </div>
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-10.jpg' %}">
                        </div>
                        <p class="name">Donald Trump</p>
                    </div>
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-11.jpg' %}">
                        </div>
                        <p class="name">Daniel Bale</p>
                    </div>
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-12.jpg' %}">
                        </div>
                        <p class="name">John Doe</p>
                    </div>
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-8.jpg' %}">
                        </div>
                        <p class="name">Tina White</p>
                    </div>
                </div>
                <!----------END OF STORIES---------------------->
                <form class="create-post">
                    <div class="profile-photo">
                        <img src="{% static 'images/profile-1.jpg' %}">
                    </div>
                    <input type="text" placeholder="What's on your mind,Diane?" id="create-post">
                    <input type="submit" value="post" class="btn btn-primary">

                </form>
                <!--=====================================FEEDS============================-->
                <div class="feeds">
                    <!------===================FEED-1==================================-->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-131.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Xabi Alonso</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-1.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-14.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Michael Toni</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-2.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-15.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Daniel Opoku</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-3.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-16.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Grace Onyinah</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-4.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-17.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Jude Bellingham</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-5.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-18.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Arda Guler</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-6.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-19.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Vinicius Junior</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-7.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->

                </div>
            </div>























            <div class="right">

            </div>
        </div>

    </main>
</body>
</html>