{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nokoSocial - Responsive Social Media Website</title>
    <link rel="stylesheet" href="{% static 'styles2.css' %}">
    <!--ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.2.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style3.css' %}">


</head>
<body>
    <nav>
        <div class="container">
            <h2 class="logosocial">
                nokoSocial
            </h2>
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search for creators,inspirations,and projects">
            </div>
            <div class="create">
               <label class="btn btn-primary" for="create-post">Create</label>
               <div class="profile-photo">
                      <a href="{% url 'upload_profile_pic' %}">
                        <img src="{{ request.user.profile.profile_pic.url }}" alt="Profile" style="width: 50px; height: 50px; border-radius:50%; object-fit: cover;" >

                      </a>
               </div>


               <a href="{% url 'log_out' %}"><i class="fa-solid fa-right-from-bracket"> Log-out</i></a>
            </div>

        </div>
    <button id="theme-toggle"> <i class="fa-solid fa-toggle-on"></i> </button>

    </nav>
       {% if messages %}
      <div class="messages-container"  id="messages-container" style="margin: 10px 20px;">
        {% for message in messages %}
          <div
            class="message {{ message.tags }}"
            style="
              padding: 10px 15px;
              border-radius: 5px;
              margin-bottom: 10px;
              color: {% if message.tags == 'success' %}#155724{% elif message.tags == 'error' %}#721c24{% elif message.tags == 'warning' %}#856404{% else %}#0c5460{% endif %};
              background-color: {% if message.tags == 'success' %}#d4edda{% elif message.tags == 'error' %}#f8d7da{% elif message.tags == 'warning' %}#fff3cd{% else %}#d1ecf1{% endif %};
              border: 1px solid {% if message.tags == 'success' %}#c3e6cb{% elif message.tags == 'error' %}#f5c6cb{% elif message.tags == 'warning' %}#ffeeba{% else %}#bee5eb{% endif %};
            "
          >
            {{ message }}
          </div>
        {% endfor %}
      </div>
      <script>
        setTimeout(() => {
          const messageContainer = document.getElementById('messages-container');
          if (messageContainer) {
            messageContainer.style.display = 'none';
          }
        }, 100000); // hides messages after 10dd seconds
      </script>
    {% endif %}

    <!------------------------MAIN-------------------------------->
    <main>
        <div class="container">
            <div class="left">
              <a class="profile">
                  <div class="profile-photo">
                    {% if user.profile.profile_pic %}
                      <img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture">
                    {% else %}
                      <img src="{% static 'images/profile-1.jpg' %}" alt="Profile Picture">
                    {% endif %}
                  </div>
                  <div class="handle">
                      <h4>{{ user.username }}</h4>
                      <p class="text-muted">
                          @{{ user.username }}
                      </p>
                  </div>
              </a>
              <!---------------SIDEBAR---------------->
              <div class="sidebar">
                  <a  class="menu-item active">
                           <span><i class="fa-solid fa-house"></i></span> <h3>Home</h3>
                  </a>
                  <a  class="menu-item">
                      <span><i class="fa-brands fa-wpexplorer"></i></span> <h3>Explore</h3>
                  </a>


                  <a class="menu-item" id="notifications" href="{% url 'notifications' %}">
                        <span>
                            <i class="fa-solid fa-bell">
                                {% if unread_count > 0 %}
                                    <small class="notification-count">{{ unread_count }}</small>
                                {% endif %}
                            </i>
                        </span>
                        <h3>Notifications</h3>
                  </a>

                      <!------------Notifications Popup---------------->
                        <div class="notifications-popup">
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-2.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>Keke Benjamin</b>accepted your friend request
                                <small class="text-muted">2 DAYS AGO</small>
                            </div>
                          </div>
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-3.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>John Doe</b>commented on your post
                                <small class="text-muted">1 hour AGO</small>
                            </div>
                          </div>
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-4.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>Michael Kross</b>commented on your post
                                <small class="text-muted">2 hours ago</small>
                            </div>
                          </div>
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-5.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>Abena Serwaa</b>commented on your post
                                <small class="text-muted">1 hour AGO</small>
                            </div>
                          </div>
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-6.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>Kofi Gabs</b>commented on your post
                                <small class="text-muted">1 hour AGO</small>
                            </div>
                          </div>
                          <div>
                            <div class="profile-photo">
                                <img src="{% static './images/profile-7.jpg' %}">
                            </div>
                            <div class="notification-body">
                                <b>Ywa Manu</b>commented on your post
                                <small class="text-muted">1 hour AGO</small>
                            </div>
                          </div>
                        </div>
                  </a>

                  <a  class="menu-item">
                      <span><i class="fa-solid fa-message"></i></span> <h3>Messages</h3>
                  </a>

                  <a  class="menu-item" id="messages-notifications">
                      <span><i class="fa-solid fa-bookmark"><small class="notification-count">6</small></i></span> <h3>BookMarks</h3>
                  </a>

                  <a  class="menu-item">
                      <span><i class="fa-solid fa-chart-simple"></i></span> <h3>Analytics</h3>
                  </a>

                  <a class="menu-item">
                      <span><i class="fa-solid fa-palette"></i></span> <h3>Theme</h3>
                  </a>

                  <a class="menu-item active">
                      <span><i class="fa-solid fa-gear"></i></span> <h3>Settings</h3>
                  </a>
              </div>
              <!------------ END OF SIDEBAR-------------->
              <label for="create-post" class="btn btn-primary">Create Post</label>
            </div>
            <div class="middle">
                <!---============STORIES===============-->
                <div class="stories">
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-8.jpg' %}">
                        </div>
                        <p class="name">Your Story</p>
                    </div>
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-9.jpg' %}">
                        </div>
                        <p class="name">Lilla James</p>
                    </div>
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-10.jpg' %}">
                        </div>
                        <p class="name">Donald Trump</p>
                    </div>
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-11.jpg' %}">
                        </div>
                        <p class="name">Daniel Bale</p>
                    </div>
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-12.jpg' %}">
                        </div>
                        <p class="name">John Doe</p>
                    </div>
                    <div class="story">
                        <div class="profile-photo">
                            <img src="{% static './images/profile-8.jpg' %}">
                        </div>
                        <p class="name">Tina White</p>
                    </div>
                </div>
                <!----------END OF STORIES---------------------->
                 <form method="POST" action="{% url 'create_post' %}" enctype="multipart/form-data" class="create-post">
                      {% csrf_token %}
                      <div class="profile-photo">



                      </div>
                      <input type="text" name="caption" placeholder="What's on your mind?" required>
                      <input type="file" name="image" accept="image/*">
                      <input type="submit" value="Post" class="btn btn-primary">
                 </form>

                <!--=====================================FEEDS============================-->
                <div class="feeds">

                    <div class="feeds">

                      {% for post in posts %}
                        <div class="feed">
                          <div class="head">
                            <div class="user">
                              <div class="profile-photo">
                                {% if post.user.profile.profile_pic %}
                                  <img src="{{ post.user.profile.profile_pic.url }}" alt="Profile">
                                {% else %}
                                  <img src="{% static 'images/profile-1.jpg' %}" alt="Default">
                                {% endif %}
                              </div>
                              <div class="ingo">
                                <h3>{{ post.user.username }}</h3>
                                <small>{{ post.created_at|timesince }} ago</small>
                              </div>
                            </div>
                                    <div class="edit">
                                      <label for="toggle-{{ post.id }}" class="ellipsis">
                                        <i class="fa-solid fa-ellipsis"></i>
                                      </label>
                                      <input type="checkbox" id="toggle-{{ post.id }}" hidden>

                                      {% if post.user == request.user %}
                                        <div class="dropdown-menu">
                                          <form action="{% url 'delete_post' post.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="delete-btn">🗑 Delete</button>
                                          </form>
                                        </div>
                                      {% endif %}
                                    </div>

                          </div>

                          {% if post.image %}
                          <div class="photo">
                            <img src="{{ post.image.url }}" alt="Post Image">
                          </div>
                          {% endif %}

                          <div class="caption">
                            <p><b>{{ post.user.username }}</b> {{ post.caption }}</p>
                          </div>
                        </div>
                      {% empty %}
                        <p>No posts yet 😔</p>
                      {% endfor %}
                    </div>

                    <!------===================FEED-1==================================-->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-131.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Xabi Alonso</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-1.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-14.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Michael Toni</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-2.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-15.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Daniel Opoku</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-3.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-16.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Grace Onyinah</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-4.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-17.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Jude Bellingham</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-5.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-18.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Arda Guler</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-6.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{% static './images/profile-19.jpg' %}">
                                </div>
                                <div class="ingo">
                                    <h3>Vinicius Junior</h3>
                                    <small>Dubai,15 minutes Ago</small>
                                </div>

                            </div>
                            <span class="edit">
                                    <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="photo">
                            <img src="{% static './images/feed-7.jpg' %}">
                        </div>

                        <div class="action-buttons">
                            <div class="interaction-buttons">
                              <span><i class="fa-solid fa-heart"></i></span>
                              <span><i class="fa-solid fa-comment"></i></span>
                              <span><i class="fa-solid fa-share-nodes"></i></span>
                            </div>
                            <div class="bookmark">
                              <span><i class="fa-solid fa-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="{% static './images/profile-10.jpg' %}"></span>
                            <span><img src="{% static './images/profile-4.jpg' %}"></span>
                            <span><img src="{% static './images/profile-15.jpg' %}"></span>
                            <p>Liked by <b>Ernest Achiever</b> and <b> 2,323 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b> Lorem ipsum dolor sit quisquam eius</p> <span class="harsh-tag">#lifestyle</span>
                        </div>
                        <div class="comments text-muted">View all 277 comments</div>
                    </div>
                    <!--------------------------------END-OF-FEED---------------------------->

                </div>
            </div>

            <!-----------------------------------------RIGHT--------------------------------->
            <div class="right">
              <div class="messages">
                  <div class="heading">
                      <h4>Messages</h4><i class="fa-solid fa-pen-to-square"></i>
                  </div>
                  <!------------------------SEARCH BAR----------------------------->
                  <div class="search-bar">
                      <i class="fa-solid fa-magnifying-glass"></i>
                      <input type="search" placeholder="Search messages" id="message-search">
                  </div>
                  <!----------------------------------------MESSAGES-CATEGORY-------->
                  <div class="category">
                      <h6 class="active">Primary</h6>
                      <h6>General</h6>
                      <h6 class="message-request">Request(7)</h6>
                  </div>
                  <!---------------------------------MESSAGES-------------------->
                  <!--------MESSAGE-------->
                  <div class="message">
                      <div class="profile-photo">
                          <img src="{% static './images/profile-17.jpg' %}">
                      </div>
                      <div class="message-body">
                          <h5>Edem Quist</h5>
                          <p class="text-muted">Just woke up</p>
                      </div>
                  </div>
                  <!------END OF MESSAGE----->
                   <!--------MESSAGE-2-------->
                  <div class="message">
                      <div class="profile-photo">
                          <img src="{% static './images/profile-2.jpg' %}">
                      </div>
                      <div class="message-body">
                          <h5>Edem Quist</h5>
                          <p class="text-bold">Nice pictures</p>
                      </div>
                  </div>
                  <!------END OF MESSAGE----->
                   <!--------MESSAGE-3-------->
                  <div class="message">
                      <div class="profile-photo">
                          <img src="{% static './images/profile-3.jpg' %}">
                          <div class="active"></div>
                      </div>
                      <div class="message-body">
                          <h5>Edem Quist</h5>
                          <p class="text-bold">OK</p>
                      </div>
                  </div>
                  <!------END OF MESSAGE----->
                   <!--------MESSAGE-------->
                  <div class="message">
                      <div class="profile-photo">
                          <img src="{% static './images/profile-4.jpg' %}">
                      </div>
                      <div class="message-body">
                          <h5>Edem Quist</h5>
                          <p class="text-bold">Lol u are right</p>
                      </div>
                  </div>
                  <!------END OF MESSAGE----->
                   <!--------MESSAGE-------->
                  <div class="message">
                      <div class="profile-photo">
                          <img src="{% static './images/profile-5.jpg' %}">
                      </div>
                      <div class="message-body">
                          <h5>John Doe</h5>
                          <p class="text-bold">2 new messages</p>
                      </div>
                  </div>
                  <!------END OF MESSAGE----->
                   <!--------MESSAGE-------->
                  <div class="message">
                      <div class="profile-photo">
                          <img src="{% static './images/profile-6.jpg' %}">
                          <div class="active"></div>
                      </div>
                      <div class="message-body">
                          <h5>Vinicius Junior</h5>
                          <p class="text-bold">Good Baller⚽</p>
                      </div>
                  </div>
                  <!------END OF MESSAGE----->  <!--------MESSAGE-------->
                  <div class="message">
                      <div class="profile-photo">
                          <img src="{% static './images/profile-7.jpg' %}">
                      </div>
                      <div class="message-body">
                          <h5>Jude Bellingham</h5>
                          <p class="text-bold">The Hero👌👌👌</p>
                      </div>
                  </div>
                  <!------END OF MESSAGE----->
              </div>
              <!--------------------------------END OF MESSAGES--------------------------->


              <!---------------------------------FRIEND REQUEST--------------------------->
              <div class="friend-requests">


                    <h4>All Users</h4>

                    {% for u in users %}
                    <div class="request">
                        <div class="info">
                            <div class="profile-photo">
                                <img src="{{ u.profile.profile_pic.url }}" alt="{{ u.username }}">
                            </div>

                            <div>
                                <h5>{{ u.username }}</h5>
                                <p class="text-muted">@{{ u.username }}</p>
                            </div>
                        </div>

                        <div class="action">
                            {% if u.id in pending_sent %}
                                <button class="btn btn-primary" disabled>Request Sent</button>
                            {% else %}
                                <a href="{% url 'send_request' u.id %}" class="btn btn-primary">Add Friend</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                    {% for fr in friend_requests %}
                    <div class="request">
                        <div class="info">
                            <div class="profile-photo">
                                {% if fr.sender.profile.profile_pic %}
                                    <img src="{{ fr.sender.profile.profile_pic.url }}" alt="{{ fr.sender.username }}">
                                {% else %}
                                    <img src="{% static 'images/profile-1.jpg' %}" alt="{{ fr.sender.username }}">
                                {% endif %}
                            </div>
                            <div>
                                <h5>{{ fr.sender.username }}</h5>
                                <p class="text-muted">@{{ fr.sender.username }}</p>
                            </div>
                        </div>

                        <div class="action" style="display: flex; gap:10px; ">
                            <a href="{% url 'accept_request' fr.id %}" class="btn btn-primary" >Accept</a>
                            <a href="{% url 'decline_request' fr.id %}" class="btn btn-primary">Decline</a>
                        </div>
                    </div>
                    {% empty %}
                    <p>No friend requests at the moment 😔</p>
                    {% endfor %}
              </div>
            </div>

        </div>

    </main>
  <script>
  const btn = document.getElementById("theme-toggle");
  const body = document.body;

  btn.addEventListener("click", () => {
    body.classList.toggle("dark-mode");
    localStorage.setItem("theme", body.classList.contains("dark-mode") ? "dark" : "light");
  });

  if (localStorage.getItem("theme") === "dark") {
    body.classList.add("dark-mode");
  }
</script>

</body>
</html>