{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Profile Picture</title>
    <link rel="stylesheet" href="{% static 'styles4.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.2.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>


    <a href="{% url 'firstpage' %}"><i class="fa-solid fa-house"></i> Go back</a>



    <form method="POST" enctype="multipart/form-data">
        <h2>Update Profile Picture</h2>

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>

        <!-- Add this message -->
        <p class="note">
            Note: After uploading, please go back and refresh the page to see your new profile picture.
        </p>


    {% if user.profile.profile_pic %}
        <p>Current Profile Picture:</p>
        <img src="{{ user.profile.profile_pic.url }}" width="120" height="120" style="border-radius: 50%;">
    {% endif %}

    </form>

    
</body>
</html>
